/* ---------------------------------------------- /*
 * Hlavní
/* ---------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* nastavuje pozadí */
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,ro
.form-horizontal .form-group:after,
.btn-toolbar:before,(data)
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}



/* ---------------------------------------------- /*
 * BODY
/* ---------------------------------------------- */

/* bez rámečku - barva písma */
body {
	font: 400 15px/1.6 'Montserrat', serif, sans-serif;
	color: #999;
  margin: 0;
}


/* ---------------------------------------------- /*
 * CONTAINER - zarovná, aby to nebylo přímo na kraji
/* ---------------------------------------------- */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* zarovná container na střed */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font: 400 15px/1.6 'Montserrat', serif, sans-serif;
}

@media (min-width: 768px) {
  .containers {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .containers {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containers {
    width: 1170px;
  }
}

/* zarovná container na střed */
.containers {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font: 400 15px/1.6 'Montserrat', serif, sans-serif;
}

@media (min-width: 768px) {
  .messenger {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .messenger {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .messenger {
    width: 1170px;
  }
}

/* zarovná container na střed */
.messenger {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font: 400 15px/1.6 'Montserrat', serif, sans-serif;
}

@media (min-width: 768px) {
  .messengerOb {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .messengerOb {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .messengerOb {
    width: 1170px;
  }
}

/* zarovná container na střed */
.messengerOb {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font: 400 15px/1.6 'Montserrat', serif, sans-serif;
}

/* ---------------------------------------------- /*
 * Písmo
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font: 700 46px/1.2 'Montserrat', serif, sans-serif;
	margin: 5px 0 5px;
	color: #222;
}

h1 {
	font-size: 64px;
	font-weight: 700;
	margin: 5px 0 15px;
}

h2 {
	font-size: 46px;
	font-weight: 700;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	margin: 5px 0 10px;
}

h4 {
	font-size: 16px;
	margin: 5px 0 10px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 13px;
}

p {
	margin: 0 0 15px;
  font: 400 15px/1.6 'Montserrat', serif, sans-serif;
}



/* ---------------------------------------------- /*
 * Table
/* ---------------------------------------------- */

th {
  color: #00ccff;
}

/* zarovnává obrázky */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #00ccff;
  font: 400 15px/1.6 'Montserrat', serif, sans-serif;
}

a:hover {
  color: #999;
}

/* ---------------------------------------------- /*
 * Button - submit
/* ---------------------------------------------- */

/* input submit */
input[type=submit] {
  border: none;
  margin: 12px;
  background-color: #00ccff;
  padding: 7px 8px;
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
}

input[type=submit]:hover {
  background-color: #1dacd6;
}

.recipe-one tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-dark.recipe-one tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}


/* ---------------------------------------------- /*
 * Menu
/* ---------------------------------------------- */

.main {
  margin-top: 30px; /* prida margin kvuli kryti obsahu */
}
.topnav {
  overflow: visible;
  background: #367588;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  padding: 10px 0;
  position: fixed; /* panel do fixni pozice */
  top: 0px; /* panel nahore stranky */
  width: 100%; /* prez celou sirku */
  z-index: 9999;
  text-align: center;
}

.topnav a {
  display: inline-block;
  color: #00ccff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  list-style-type: none;
  cursor: pointer;
  border-radius:10px;
  transition: .5s;
}

.topnav a:hover {
  background-color: #1dacd6;
  color: black;
}

.active {
  background-color: #21abcd;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}



/* ---------------------------------------------- /*
 * Service - section
/* ---------------------------------------------- */


.section {
  position: relative;
  padding: 120px 0;
}

/* nastaví jak velké má být zobrazené pole pozadí u jednotlivých podsložek */
.color-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 60px 0;
}

/* zarovná nadpisy nad pozadím u jednotlivých podsložek na střed */
.section-header {
  text-align: center;
}

/* u nadpisu pozadí bílý nadpis */
.section-header,
.section-header h1,
.section-header h2,
.section-header h3,
.section-header h4,
.section-header h5,
.section-header h6 {
  color: #FFF;
}

/* zarovná texty na střed */
.container{
  text-align: center;
  margin: 0 0 40px;
}

/* nastaví větší ikony a barvu */
.container .icon {
  font-size: 32px;
  color: #90C695;
}

/* změní velikost textu u servisu na nadpis velkym pismem */
.container h4 {
  text-transform: uppercase;
}

/* upraví fotky aby na sobě nebyly nalepené */
.container {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.containers{
  text-align: center;
  margin: 0 0 40px;
}

/* nastaví větší ikony a barvu */
.containers .icon {
  font-size: 32px;
  color: #90C695;
}

/* změní velikost textu u servisu na nadpis velkym pismem */
.containers h4 {
  text-transform: uppercase;
}

/* upraví fotky aby na sobě nebyly nalepené */
.containers {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.messenger{
  text-align: center;
  margin: 0 0 40px;
}

/* nastaví větší ikony a barvu */
.messenger .icon {
  font-size: 32px;
  color: #90C695;
}

/* změní velikost textu u servisu na nadpis velkym pismem */
.messenger h4 {
  text-transform: uppercase;
}

/* upraví fotky aby na sobě nebyly nalepené */
.messenger {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


.messengerOb{
  text-align: center;
  margin: 0 0 40px;
}

/* nastaví větší ikony a barvu */
.messengerOb .icon {
  font-size: 32px;
  color: #90C695;
}

/* změní velikost textu u servisu na nadpis velkym pismem */
.messengerOb h4 {
  text-transform: uppercase;
}

/* upraví fotky aby na sobě nebyly nalepené */
.messengerOb {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/* ---------------------------------------------- /*
 * FOOTER
/* ---------------------------------------------- */

/* Nastaví patičce tmavé pozadí */
#footer {
	background: #030101;
	padding: 20px 0;
	color: #FFF;

}

/* Nastaví text v patičce na střed */
#footer p {
	font-size: 12px;
	margin: 5px 0;
	text-align: center;
}